.App {
  text-align: center;
}

.name-container {
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-right: 25%;
  width: 100%;
}

input {
  width: 61.5%;
  height: 20px;
  margin-left: 25px;
  border-color: black;
  border-width: 3px;
}

.name-container label {
  display: inline-block;
  margin-right: -12px;
  margin-left: 18px;
}

.input-name-error {
  width: 70%;
  float: left;
  margin-left: 13%;
  color: red;
}

.location-container {
  display: flex;
  float: right;
  justify-content: flex-end;
  margin-right: 25%;
  margin-bottom: 20%;
  width: 100%;
}

.location-container label {
  display: inline-block;
  margin-top: 50px;
  margin-right: 8px;
  margin-left: 18px;
}

select {
  margin-top: 50px;
  margin-left: 5px;
  height: 25px;
  width: 63%;
  border-color: black;
  border-width: 3px;
}

option {
  width: 50%;
  background-color: whitesmoke;
}

.btn-container {
  display: flex;
  column-gap: 20%;
  justify-content: flex-end;
  margin-right: 25%;
  margin-bottom: 5%;
  margin-left: 56%;
  text-align: right;
}

button {
  display: inline-flex;
  margin-right: 5px;
  background-color: white;
  border-color: black;
  border-width: 3px;
  box-shadow: 3px 2px 1px 0.25px black;
}

table {
  border: 3px solid;
  width: 75%;
}

th {
  text-align: left;
  background-color: silver;
  font-weight: 600;
}

table th + th { border-left: 3px solid black; }

tbody tr:nth-child(odd) { background-color: #f2f2f2; }

td {
  height: 25px;
}

table td + td { border-left: 3px solid black; }

.view-container {
  margin: 10% 10% 5% 10%;
}